<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>The Ewart Wedding</title>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md fixed-top">
      <button id="menu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse_target">
        E
      </button>
      <div class="collapse navbar-collapse" id="collapse_target">
        <ul class="navbar-nav">
        <% if (user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/" <%- title === 'home' ? 'class="active"' : '' %>>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about" <%- title === 'about-us' ? 'class="active"' : '' %>>About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/info" <%- title === 'about-wedding' ? 'class="active"' : '' %>>Wedding Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/guestbook" <%- title === 'Guestbook' ? 'class="active"' : '' %>>Guestbook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/registry" <%- title === 'Registry' ? 'class="active"' : '' %>>Registry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Log Out</a>
        </li>
      <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/" <%- title === 'home' ? 'class="active"' : '' %>>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/google">Login with Google</a>
        </li>
      <% } %>
      </ul>
    </div>
        <div>
          <p id="hash">#FallingInLoveWithEwart</p>
        </div>
    </nav>
  </header>