<%- include('../partials/header') %>
<h1>Registry page</h1>

<% if (user.host === true) { %>
<p>You are the host, you can add things</p>
<form action="/registry" method="POST">
<input type="text" name="name" autocomplete="off" placeholder="Item name"><br>
<input type="text" name="link" autocomplete="off" placeholder="Amazon link"><br>
<input type="number" name="price" autocomplete="off" placeholder="Price"><br>
<button type="submit" id="add">Add item</button>
</form>
<% } %>

<h2>Our full registry can be viewed <a href="https://www.amazon.com/wedding/share/ewart2020">here.</a></h2>

<% items.forEach(item => { %>
  <div class="card">
    <div class="card-header">
      <%= item.name %>
    </div>
    <div class="card-body">
      <p>Price: <%= item.price %></p>
      <a href="<%= item.link %>" target="_blank">View this on Amazon!</a>
    </div>
  </div>
<% }) %>

<%- include('../partials/footer') %>