<%- include('../partials/header') %>
<div class="main-div" id="reg">
  <h1>Registry</h1>

  <% if (user.host === true) { %>
    <p>You are the host, you can add things</p>
    <form action="/registry" method="POST">
      <input type="text" name="name" autocomplete="off" placeholder="Item name"><br>
      <input type="text" name="link" autocomplete="off" placeholder="Amazon link"><br>
      <input type="number" name="price" autocomplete="off" placeholder="Price"><br>
      <button type="submit" id="add">Add item</button>
    </form>
  <% } %>

    <h2>Our full registry can be viewed <a href="https://www.amazon.com/wedding/share/ewart2020">here.</a></h2>
    <div>
      <p>If you would like, instead of a formal gift, please consider <a href="http://www.ricadv.org/en/how-to-help/do-more/donate" target="_blank">donating</a> to the RI Coalition Against Domestic Violence. </p>
    </div>
    <div class="reg-card">
      <% items.forEach(item => { %>
        <div class="card" id"reg-card">
          <div class="card-header">
            <%= item.name %>
          </div>
          <div class="card-body">
            <p>Price: <%= item.price %></p>
            <a href="<%= item.link %>" target="_blank">View this on Amazon!</a>
          </div>
        </div>
      <% }) %>
    </div>
</div>
      
<%- include('../partials/footer') %>